
body{
    /* background : url('xxxx.jpg') no-repeat center/cover; */
    background: rgb(1,37,28);
    background: linear-gradient(90deg, rgba(1,37,28,1) 16%, rgba(88,195,113,1) 61%, rgb(0, 251, 255) 100%);
    background-size: cover;
    background-position: 0%;
    height: 100vh;
    max-width: 100%;
    
/* width: 100%;
height: 100vh; */
 /*view port height*/
position: relative;
overflow:hidden;

}

