

@keyframes anione1 {
    0%{
        opacity: 0%;
        border-radius: 50%;
    }
   
    50%{
        opacity: 50%;
        
        
    }
    
    100%{
        opacity: 100%;
        
    }
    
  }



.portfolio-1{
    width: 500px;
    height: 250px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    animation-name:anione1 ;  
    animation-duration: 2s; 
    animation-timing-function: ease-in;
    animation-delay: 0s;
    box-shadow: 10px 10px 20px rgb(1, 30, 30);
    border-radius: 10px;

}
.portfolio-1:hover{
    /* transform: translate(10px 10px); */
    transform: translateX(10px);
    transform: translateY(20px);
    width: 550px;
    box-shadow: 30px 30px 20px rgb(1, 30, 30);
    
    cursor:pointer;
}
.port-3{
    margin:30px;
    width: 250px;
    height: 220px;
    margin-top: 30px;
    animation-name:anione1 ;  
    animation-duration: 2s; 
    animation-timing-function: ease-in;
    animation-delay: 0s;
    box-shadow: 10px 10px 20px rgb(1, 30, 30);
    cursor:pointer;
    border-radius: 10px;
   
}
.port-3:hover{
    transform: translateX(10px);
    transform: translateY(-20px);
    width: 300px;
    box-shadow: 30px 30px 20px rgb(1, 30, 30);
}
.portfolio-2{
    width: 450px;
    height: 250px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    animation-name:anione1 ;  
    animation-duration: 2s; 
    animation-timing-function: ease-in;
    animation-delay: 0s;
    box-shadow: 10px 10px 20px rgb(1, 30, 30);
    border-radius: 10px;
}
.portfolio-2:hover{
    transform: translateX(10px);
    transform: translateY(20px);
    width: 550px;
    box-shadow: 30px 30px 20px rgb(1, 30, 30);
}
.txtt{
    text-align: center;
    color: antiquewhite;
}
.txtt:hover{
    color: rgb(2, 38, 19);
    font-size: xx-large;
    font-weight: bolder;
}
